/* https://www.magicpattern.design/tools/css-backgrounds */
.bg-moon {
  background-color: #e5e5f7;
  opacity: 0.4;
  background-image: radial-gradient(
    ellipse farthest-corner at 20px 20px,
    #444cf7,
    #444cf7 50%,
    #e5e5f7 50%
  );
  background-size: 20px 20px;
}

/* https://www.magicpattern.design/tools/css-backgrounds */
.bg-polka {
  background-color: #e5e5f7;
  opacity: 0.4;
  background-image: radial-gradient(#444cf7 1px, #e5e5f7 1px);
  background-size: 20px 20px;
}
