@import "tailwindcss";

@theme {
  --color-plum-100: oklch(93.6% 0.026 302.57);
  --color-plum-200: oklch(80.78% 0.082 302.23);
  --color-plum-300: oklch(61.5% 0.169 299.64);
  --color-plum-400: oklch(49.89% 0.217 294.93);
  --color-plum-500: oklch(41.4% 0.238 286.23);
  --color-plum-600: oklch(32.24% 0.182 287.71);
  --color-plum-700: oklch(25.62% 0.143 289.19);
  --color-plum-800: oklch(18.53% 0.1 292.3);
  --color-plum-900: oklch(10.72% 0.056 305.35);
}

/* Custom utilities */
.markdown {
  a {
    @apply underline;
  }
}

/* Inspired by https://codepen.io/himalayasingh/pen/mNOJPM */
.hamburger {
  --size: 20px;
  --padding: 0.5rem;
  position: absolute;
  top: calc((var(--size) / 2) + var(--padding));
  left: var(--padding);
  display: block;
  width: var(--size);
  height: var(--size);
  margin: calc(-1 * (var(--size) / 2)) auto 0 auto;
  cursor: pointer;
  z-index: 1001;
}

.hamburger:focus {
  @apply outline-none;
}

.hamburger:focus-visible {
  @apply ring;
}

.hamburger div {
  position: relative;
  top: 0;
  height: calc(var(--size) / 5);
  @apply bg-gray-400;
  margin-bottom: calc(var(--size) / 5);
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
    0.3s ease right;
  border-radius: 2px;
}

.hamburger div:first-child {
  transform-origin: 0;
}

.hamburger div:last-child {
  margin-bottom: 0;
  transform-origin: var(--size);
}

.hamburger div:nth-child(2) {
  right: 0;
  width: var(--size);
}

.hamburger[data-menu-open="true"] div {
  background-color: #000000;
}

.hamburger[data-menu-open="true"] div:first-child {
  top: calc(-1 * (var(--size) / 10));
  transform: rotateZ(45deg);
}

.hamburger[data-menu-open="true"] div:last-child {
  top: calc((var(--size) / 10));
  transform: rotateZ(45deg);
}

.hamburger[data-menu-open="true"] div:nth-child(2) {
  width: calc(var(--size) * (85 / 60));
  top: 0;
  right: calc(var(--size) * (13 / 60));
  transform: rotateZ(-45deg);
}
