{% extends "layouts/_base.njk" %}

<!-- prettier-ignore -->
{% block body %}
<main class="flex items-center justify-center mt-16">
  <!-- class="max-w-lg py-6 px-8 mt-32 lg:mt-64 mx-auto border border-gray-300 rounded bg-white" -->
  <div
    class="w-full sm:w-128 sm:flex-initial py-6 px-8 border-t border-b sm:border border-gray-300 sm:rounded bg-white"
  >
    <h1 class="text-2xl leading-tight mb-4">{{ title }}</h1>
    <p class="text-sm mb-6">{{ description }}</p>
    <!-- <img width="475.801" height="475.801" src="/images/rice-cooker.svg" /> -->
    <div class="space-y-2">
      {% if needToWash == "YES" %}
      <div class="flex">
        <span class="pr-3">🚰</span>
        <span> <strong>Wash</strong> before cooking</span>
      </div>
      {% endif %}
      <div class="flex">
        <span class="pr-3">🧮</span>
        <span><strong>1:2</strong> ratio of grain to liquid</span>
      </div>
      <div class="flex">
        <span class="pr-3">🍚</span>
        <span
          ><strong>{{ setting }}</strong> setting on cooker</span
        >
      </div>
      <div class="flex">
        <span class="pr-3">⏰</span>
        <span
          ><strong>{{ expectedCookTime }}</strong> minutes to cook</span
        >
      </div>
    </div>
  </div>
</main>
<div class="max-w-lg flex justify-center sm:justify-end mx-auto mt-4 sm:mt-2">
  <a href="/" class="text-sm sm:text-xs text-gray-600 hover:underline"
    >More grains →</a
  >
</div>
<!-- prettier-ignore -->
{% endblock %}
