{% extends "layouts/_base.njk" %}

<!-- prettier-ignore -->
{% block body %}
<main
  class="max-w-lg p-8 my-64 mx-auto border border-gray-300 rounded bg-white"
>
  <h1>{{ title }}</h1>
</main>
<!-- prettier-ignore -->
{% endblock %}
