---
title: Grainzzz
---

{% extends "layouts/_base.njk" %} {% import "components/menu.njk" as menu %}

<!-- prettier-ignore -->
{% block styles %}
{{ super() }}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/pushbar.js@1.0.0/src/pushbar.min.css"
/>
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
{{ menu.render() }}
<header class="flex items-center justify-center sm:mt-8">
  <img
    src="/images/banner.png"
    alt="Zombie droning for grains"
    width="3072"
    height="2304"
    class="object-contain w-64"
  />
</header>
<main class="flex items-center justify-center mb-16">
  <form
    id="grainForm"
    class="w-full sm:w-128 sm:flex-initial p-8 border-t border-b sm:border border-gray-300 sm:rounded bg-white"
  >
    <div class="flex justify-center mb-4">
      <label for="grain">What are you trying cook?</label>
    </div>
    <div class="flex justify-center">
      <input
        id="grainInput"
        list="grains"
        placeholder="{{ collections.grain[0].data.title }}, ..."
        class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-4 focus:ring-plum-500/50"
      />
      <datalist id="grains">
        {% for grain in collections.grain %}
        <option data-url="{{ grain.url }}">
          {{ grain.data.title }}
        </option>
        {% endfor %}
      </datalist>
    </div>
  </form>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.js"></script>
<script>
  const $grainForm = document.getElementById("grainForm");
  const $grainInput = $grainForm.querySelector("#grainInput");
  const $grainOptions = $grainForm.querySelectorAll("option[data-url]");
  const widget = new Awesomplete($grainInput, {
    minChars: 0,
    autoFirst: true,
  });

  // Show dropdown on focus
  $grainInput.addEventListener("focus", function (event) {
    if (widget.ul.childNodes.length === 0) {
      widget.minChars = 0;
      widget.evaluate();
    } else if (widget.ul.hasAttribute("hidden")) {
      widget.open();
    } else {
      widget.close();
    }
  });

  // Clear errors when user types
  $grainInput.addEventListener("input", function () {
    $grainInput.setCustomValidity("");
  });

  // Submit form when awesomeplete selection is selected
  $grainInput.addEventListener("awesomplete-selectcomplete", function (event) {
    $grainForm.dispatchEvent(new Event("submit", { cancelable: true }));
  });

  // Handle form submission
  $grainForm.addEventListener("submit", function (event) {
    event.preventDefault();
    event.stopPropagation();

    const value = $grainInput.value;

    let found = false;
    for (const $option of $grainOptions) {
      if ($option.text === value) {
        window.location = $option.dataset.url;
        found = true;
      }
    }

    if (!found) {
      $grainInput.setCustomValidity("No match. Try a different grain.");
      $grainInput.reportValidity();
    }

    return false;
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/pushbar.js@1.0.0/src/pushbar.min.js"></script>
<script>
  // prettier-ignore
  {% include "components/menu.js" %}
</script>
{% endblock %}
