---
layout: layouts/_base.njk
title: jplace's 11ty Starter
---

<main
  class="max-w-lg p-8 mt-64 mx-auto border border-gray-300 rounded bg-white"
>
  <form id="grainForm" class="space-y-8">
    <div class="flex justify-center">
      <label for="grain">What are you trying cook?</label>
    </div>
    <div class="flex justify-center">
      <input
        id="grain"
        list="grains"
        placeholder="{{ collections.grain[0].data.title }}, ..."
        class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-4 focus:ring-plum-500 focus:ring-opacity-50"
      />
      <datalist id="grains">
        {% for grain in collections.grain %}
        <option data-url="{{ grain.url }}">
          {{ grain.data.title }}
        </option>
        {% endfor %}
      </datalist>
    </div>
  </form>
</main>
<script>
  const $grainForm = document.getElementById("grainForm");
  const $options = $grainForm.querySelectorAll("option[data-url]");

  $grainForm.addEventListener("submit", function (event) {
    event.preventDefault();

    const value = event.target.querySelector("#grain").value;

    for (const $option of $options) {
      if ($option.text === value) {
        window.location = $option.dataset.url;
      }
    }
  });
</script>
